<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbuBrXkjUZXEGY96hOQ6mgJMEiIIYopsM</string>
	<key>GCM_SENDER_ID</key>
	<string>341408006906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quadb</string>
	<key>PROJECT_ID</key>
	<string>quad-b-1d95d</string>
	<key>STORAGE_BUCKET</key>
	<string>quad-b-1d95d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341408006906:ios:50f0011305c2c59cc0ff43</string>
</dict>
</plist>